#counter_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10em;
    margin-left: 20%;
    height: 150px;
    width: 250px;
    border: 2px solid pink; border-radius: 50%;

    #counter_number {
    font-family: satoshi-medium;
    }
    
    #arrow_container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 40px;

        #button_L, #button_R {
            background-color: pink;
            width: 30px; height: 25px;
            border-radius: 20%;
            border: none;
            transition: 200ms;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
    }    
}

