@font-face {
    font-family: satoshi-regular;
    src: url(./fonts/Satoshi-Regular.otf);
}

@font-face {
    font-family: satoshi-medium;
    src: url(./fonts/Satoshi-Medium.otf);
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    font-family: satoshi-regular;
    color: black;

    #content_container {
        position: absolute;
        right: 0;
        background-color: #FBFDFC;
        height: 100vh;
        width: 75vw;
        overflow-y: auto;
    }
      
}