@font-face {
  font-family: satoshi-regular;
  src: url(./fonts/Satoshi-Regular.otf);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: satoshi-regular;
  color: black;
}

/* NAVIGATION */

#cat_logo {
  width: 120px;
  height: 120px;
  margin-bottom: 2em;
  padding-left: 3em;
}

#nav_bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 25vw;
}

#nav_bar ul {
  padding: 0;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  list-style: none;
}

#nav_bar li {
  text-align: left;
  font-size: large;
}

#nav_bar li > a {
  display: inline-block;
  margin-left: 3em;
  text-decoration: none;
  transition: all .2s ease-in-out
}

a:hover {
  transform: scale(1.05);
}

/* SELECTED NAV */
.default_page {
  color: black;
}
.current_page {
  color: #d31145;
}

/* PAGES CONTAINER RIGHT */

#content_container {
  position: absolute;
  right: 0;
  background-color: #FBFDFC;
  height: 100vh;
  width: 75vw;
  overflow-y: auto;
}

/* GALLERY --> */

#cat_feed_container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

#cat_feed_container div{
  width: 200px; height: 200px;
}

.cat_img {
  width: 100%;
  height: 100%;
  border-radius: 7%;
  object-fit: cover;
  cursor: pointer;
  transition: 200ms;
}

.cat_img:hover {
  scale: 1.02;
}

/* ALL SELECT CONTAINER */
#all_select_container {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
}

/* SELECT BREED */

#select_breed_container {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 180px;
  margin-left: 5%;
}

#select_breed_container p, #select_type_container p{
  margin-bottom: 0.5em;
  text-align: start;
}

/* SELECT TYPE */

#select_type_container {
  margin-right: 5%;
  width: 89px;
}



